In [4]:
%matplotlib inline
import pandas as pd

In [5]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [6]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1        Ashes of Kukulcan  2016
2  The Thousand Plane Raid  1969
3         Crucea de piatra  1993
4                  Country  2000

In [7]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

### How many movies are listed in the titles dataframe?

In [8]:
len(titles)

216537

### What are the earliest two films listed in the titles dataframe?

In [9]:
titles.sort_values('year', ascending=True).head(2)

                                                 title  year
165551                                      Miss Jerry  1894
116176  Reproduction of the Corbett and Jeffries Fight  1899

### How many movies have the title "Hamlet"?

In [10]:
hamlet_movies = titles[titles.title == 'Hamlet']
len(hamlet_movies)

19

### How many movies are titled "North by Northwest"?

In [11]:
north_movies = titles[titles.title == 'North by Northwest']
len(north_movies)

1

### When was the first movie titled "Hamlet" made?

In [12]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

        title  year
43617  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [13]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
191885  Treasure Island  1918
47853   Treasure Island  1920
193425  Treasure Island  1934
90426   Treasure Island  1950
55631   Treasure Island  1972
103906  Treasure Island  1973
191300  Treasure Island  1985
167063  Treasure Island  1999

### How many movies were made in the year 1950?

In [14]:
fifties_flicks = titles[titles.year == 1950]
len(fifties_flicks)

1037

### How many movies were made in the year 1960?

In [15]:
sixties_flicks = titles[titles.year == 1960]
len(sixties_flicks)

1476

### How many movies were made from 1950 through 1959?

In [16]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12197

### In what years has a movie titled "Batman" been released?

In [17]:
titles[titles.title == 'Batman']

        title  year
52250  Batman  1989
69638  Batman  1943

### How many roles were there in the movie "Inception"?

In [18]:
len(cast[cast.title == 'Inception'])

75

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [19]:
cast.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [20]:
c = cast
chars_null = c[c.title == 'Inception']
len(chars_null[chars_null.n.isnull()])
#len(chars.n.notnull())

24

### But how many roles in the movie "Inception" did receive an "n" value?

In [21]:
chars_not_null = c[c.title == 'Inception']
len(chars_not_null[chars_not_null.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [22]:
char_not_null = c[c.title == 'North by Northwest']
char_not_null = char_not_null[char_not_null.n.notnull()]
char_not_null.sort_values('n')

,title,year,name,type,character,n
789568,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1
3150433,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2
1319736,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3
2835733,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4
322095,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5
2742072,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6
1536035,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7
1154420,North by Northwest,1959,Martin Landau,actor,Leonard,8
2214182,North by Northwest,1959,Adam Williams,actor,Valerian,9
1640544,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10
602998,North by Northwest,1959,Robert Ellenstein,actor,Licht,11
2077139,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12
420055,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13
1366775,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14
185128,North by Northwest,1959,Edward Binns,actor,Captain Junket,15
1253982,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [23]:
c = cast
c[c.title == 'Sleuth'].sort_values('n')

,title,year,name,type,character,n
294811,Sleuth,2007,Michael Caine,actor,Andrew,1
1545047,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1
294810,Sleuth,1972,Michael Caine,actor,Milo Tindle,2
1171232,Sleuth,2007,Jude Law,actor,Milo,2
337756,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3
1635645,Sleuth,2007,Harold Pinter,actor,Man on T.V.,3
1327177,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4
2458449,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5
1312188,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6
233918,Sleuth,2007,Kenneth Branagh,actor,Other Man on T.V.,NaN
337757,Sleuth,2007,Alec (II) Cawthorne,actor,Inspector Doppler,NaN
2458448,Sleuth,2007,Eve (II) Channing,actress,Marguerite Wyke,NaN
3022053,Sleuth,2007,Carmel O'Sullivan,actress,Maggie,NaN

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [24]:
c = cast
c[(c.title == 'Sleuth') & (c.year == 2007)].sort_values('n')

          title  year                 name     type          character   n
294811   Sleuth  2007        Michael Caine    actor             Andrew   1
1171232  Sleuth  2007             Jude Law    actor               Milo   2
1635645  Sleuth  2007        Harold Pinter    actor        Man on T.V.   3
233918   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V. NaN
337757   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler NaN
2458448  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke NaN
3022053  Sleuth  2007    Carmel O'Sullivan  actress             Maggie NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [25]:
c = cast
len(c[(c.title == 'Hamlet') & (c.year == 1921)])

9

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [26]:
c = cast
len(c[(c.title == 'Hamlet') & (c.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [27]:
c = cast
len(c[c.character == 'Hamlet'])

84

### How many people have played an "Ophelia"?

In [28]:
c = cast
len(c[c.character == 'Ophelia'])

100

### How many people have played a role called "The Dude"?

In [29]:
c = cast
len(c[c.character == 'The Dude'])

17

### How many people have played a role called "The Stranger"?

In [30]:
c = cast
len(c[c.character == 'The Stranger'])

192

### How many roles has Sidney Poitier played throughout his career?

In [31]:
c = cast
c.head()

                               title  year       name   type character   n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself NaN

In [32]:
len(c[c.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

In [33]:
len(c[c.name == 'Judi Dench'])

53

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [34]:
c = c[c.name == 'Cary Grant']
c = c[(c.year >= 1940) & (c.year <= 1949)].sort_values('year')
c[c.n > 1]

                   title  year        name   type    character  n
789565  My Favorite Wife  1940  Cary Grant  actor         Nick  2
789575    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [35]:
c = c[c.name == 'Cary Grant']
c = c[(c.year >= 1940) & (c.year <= 1949)].sort_values('year')
c[c.n == 1]

,title,year,name,type,character,n
789592,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1
789590,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1
789547,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1
789580,Suspicion,1941,Cary Grant,actor,Johnnie,1
789594,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1
789571,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1
789538,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1
789563,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1
789564,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1
789567,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1
789530,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1
789572,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1
789566,Night and Day,1946,Cary Grant,actor,Cole Porter,1
789569,Notorious,1946,Cary Grant,actor,Devlin,1
789586,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1
789587,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1
789542,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1
789562,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1
789551,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1

### How many roles were available for actors in the 1950s?

In [36]:
c = cast
c = c[(c.year >= 1950) & (c.year <=1959)]
len(c[c.type == 'actor'])

150803

### How many roles were avilable for actresses in the 1950s?

In [37]:
c = cast
c = c[(c.year >= 1950) & (c.year <=1959)]
len(c[c.type == 'actress'])

54838

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [38]:
c = cast
len(c[(c.n == 1) & (c. year <= 1980)])

62245

### How many non-leading roles were available through from the beginning of film history through 1980?

In [39]:
c = cast
len(c[(c.n != 1) & (c. year <= 1980)])

1065822

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [40]:
c = cast
len(c[(c.n.isnull()) & (c. year <= 1980)])

424732

In [41]:
len(titles)

216537